altair==4.2.2
annoy==1.17.0
huggingface-hub==0.14.1
numpy==1.21.6
pandas==1.3.5
plotly==5.14.1
scipy==1.7.3
beautifulsoup4==4.11.1
cohere==2.7.0
matplotlib==3.5.1
python-dotenv==0.21.0
scikit_learn==1.0.2
streamlit==1.22.0
streamlit_plotly_events==0.0.6
umap==0.1.1
umap_learn==0.5.3